* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
    font-family: 'Arial', sans-serif;
}

.calculator {
    background: black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

input {
    width: 100%;
    padding: 15px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: right;
    background: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background: green;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: white;
    color:green;
}
